<style>
  header {
    background-color: #00599c;
    color: white;
    padding: 15px;
  }
  h1 {
    padding-left: 5vw;
    font-weight: normal;
    font-family: 'Times New Roman';
    }
  main {padding-left: 10vw;}
  li {margin: 10px;}
  #green-check {
    visibility: hidden;
  }
  nav {
    position: absolute;
    right: 20px;
    top: 40px;
  }
  nav a {
    color: white;
  }
</style>
<div class="py1 bg-navy white fs-12p line-height-1 center">
  <img class="mr1 align-bottom" src="/vendor/uswds/img/us_flag_small.png" alt="U.S. flag" width="18" height="12">
  A DEMO website of the United States government
</div>
<header>
    <h1>𓍝 IRS Department of Dog Services</h1>
    <nav>
    𓃥 <%= session[:email] %> |
    <a href="<%= logout_uri %>">Log out</a>
    </nav>
</header>
<main>
    <% if session[:email] %>

        <p>Welcome, <%= session[:email] %>. Follow these two steps:</p>
        <h2>Step 1: <span id="green-check">✅</span></h2>
        <a href="/assets/img/k9.pdf" onClick="showGreenCheck()" download>Download form K-9</a>
        <h2>Step 2:</h2>
        <a href="#" id="redirect">where you came from</a>

        <script>
            let urlParams = new URLSearchParams(window.location.search);
            let redirectUrl = urlParams.get('redirect')
            let redirectTxt = urlParams.get('linktext')

            let redirectLink = document.getElementById("redirect");
            redirectLink.href = redirectUrl;
            redirectLink.innerHTML = "Return to " + redirectTxt;

            function showGreenCheck() {
                document.getElementById("green-check").style.visibility = "visible";
                redirectLink.href = redirectUrl + "?downloaded=true"
            }

        </script>

    <% else %>
        <p>You must sign in</p>

        <form action="/auth/request" action="get">
            <input name="redirect" id="redirect" type="hidden" value="<%= params[:redirect] %>" />
            <input name="linktext" id="linktext" type="hidden" value="<%= params[:linktext] %>" />
            <button type="submit" class="usa-button usa-button--outline sign-in-bttn">
                <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor" d="M416 448h-84c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h84c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32h-84c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h84c53 0 96 43 96 96v192c0 53-43 96-96 96zm-47-201L201 79c-15-15-41-4.5-41 17v96H24c-13.3 0-24 10.7-24 24v96c0 13.3 10.7 24 24 24h136v96c0 21.5 26 32 41 17l168-168c9.3-9.4 9.3-24.6 0-34z"></path>
                </svg>
                Sign in
            </button>
        </form>
    <% end %>
</main>
